
<main>
    <div class="scanner" *ngIf="showScanner">
      <select #selectList (change)="selectCamera(selectList.value)">
        <option *ngFor="let camera of cameras" value="{{ camera.label }}">
          {{ camera.label }}
        </option>
      </select>
  
      <zxing-scanner 
        style="width: 500px"
        [enable]="scannerEnabled"
        [device]="myDevice"
        (camerasFound)="camerasFoundHandler($event)"
        (scanSuccess)="scanSuccessHandler($event)"
      ></zxing-scanner>
      <p>{{results.length>0?'ENCONTRADO':'BUSCANDO....'}}</p>
    </div>
  
  
    

    <div *ngIf="!showScanner && visitSelected">
        <div class="card">
            <div class="card_background_img"></div>
            <div class="card_profile_img"></div>
            <div class="user_details">
                <h3>{{visitSelected.driver_name}}</h3>
                <p>{{visitSelected.trailer_model}}</p>
            </div>
            <div class="card_count">
                <div class="count">
                    <div class="fans">
                        <h3>{{visitSelected.initDate | date:'short':'CDT'}}</h3>
                        <p>Fecha de ingreso</p>
                    </div>
                    <div class="following">
                        <h3>{{visitSelected.type_trailer}}</h3>
                        <p>Tipo trailer</p>
                    </div>
                    <div class="post">
                        <h3>{{visitSelected.plan}}</h3>
                        <p>Plan</p>
                    </div>
                    <div class="fans">
                        <h3>{{visitSelected.status?'Adentro':'Afuera'}}</h3>
                        <p>Estado actual</p>
                    </div>  
                </div>
                <div class="moviments">
                    <h3>MOVIMIENTOS</h3>
                <div class="following" *ngFor="let item of visitSelected.Moviments">
                    <h3>{{item.date | date:'short':'CDT'}}</h3>
                    <p>Fecha de {{item.actual_status?'Entrada':'Salida'}}</p>
                </div>
                </div>
                
            </div>

            <div class="user_details">
                <h3>$0.00</h3>
                <p>Total a pagar</p>
            </div>

            <div class="user_details">
                <h3>15 horas</h3>
                <p>Total de horas</p>
            </div>
            
            <div class="btn" (click)="pay()">Pagar y Cerrar</div>
        </div>
        
    </div>
  
  </main>
  