<main class="main">
  <nav class="notificacion-nav">
    <p>
      <mat-icon matBadge="15" matBadgeColor="warn"
        >notification_important</mat-icon
      >
      <!-- Include text description of the icon's meaning for screen-readers -->
      <span class="cdk-visually-hidden">
        Example with a home icon with overlaid badge showing the number 15
      </span>
     
    </p>
    <p>
      <mat-icon matBadgeColor="warn"> settings</mat-icon>
      <!-- Include text description of the icon's meaning for screen-readers -->
      <span class="cdk-visually-hidden">
        Example with a home icon with overlaid badge showing the number 15
      </span>
    </p>
    <p>
      <mat-icon matBadgeColor="warn"> timeline</mat-icon>
      <!-- Include text description of the icon's meaning for screen-readers -->
      <span class="cdk-visually-hidden">
        Example with a home icon with overlaid badge showing the number 15
      </span>
    </p>
    <p>
      <mat-icon matBadgeColor="warn"> today</mat-icon>
      <!-- Include text description of the icon's meaning for screen-readers -->
      <span class="cdk-visually-hidden">
        Example with a home icon with overlaid badge showing the number 15
      </span>
    </p>
  </nav>

  <div class="Message" id="js-timer">
    <div class="Message-icon">
      <i class="fa fa-bell-o"></i>
    </div>
    <div class="Message-body">
      <p>Se ha registrado una nueva visita para  <b>Francisco Carranza</b>.</p>

      <button class="Message-button" id="js-showMe">Abrir</button>
    
    </div>
    <button class="Message-close js-messageClose">
      <i class="fa fa-times"></i>
    </button>
  </div>

  <div class="Message Message--orange">
    <div class="Message-icon">
      <i class="fa fa-exclamation"></i>
    </div>
    <div class="Message-body">
      <p>Se ha registrado una nueva salida de <strong>Francisco Carranza</strong></p>
      <button class="Message-button" id="js-showMe">Abrir</button>
    </div>
    <button class="Message-close js-messageClose">
      <i class="fa fa-times"></i>
    </button>
  </div>

  <div class="Message Message--green">
    <div class="Message-icon">
      <i class="fa fa-check"></i>
    </div>
    <div class="Message-body">
      <p>Se ha registrado un <strong>PAGO</strong> de <strong>Francisco Carranza</strong></p>
      <button class="Message-button" id="js-showMe">Abrir</button>
    </div>
    <button class="Message-close js-messageClose">
      <i class="fa fa-times"></i>
    </button>
  </div>

  <div class="Message Message--red">
    <div class="Message-icon">
      <i class="fa fa-times"></i>
    </div>
    <div class="Message-body">
      <p>This is a notification that something went wrong...</p>
      <button class="Message-button" id="js-helpMe">
        Yikes, help me please!
      </button>
      <button class="Message-button js-messageClose">Don't care.</button>
    </div>
    <button class="Message-close js-messageClose">
      <i class="fa fa-times"></i>
    </button>
  </div>

  <div class="Message">
    <div class="Message-icon">
      <i class="fa fa-bell-o"></i>
    </div>
    <div class="Message-body">
      <p>
        Do you know that you can assign status and relation to a company right
        in the visit list?
      </p>
      <button class="Message-button" id="js-showMe">Show me how</button>
      <button class="Message-button js-messageClose">
        Nah, not interested
      </button>
    </div>
    <button class="Message-close js-messageClose">
      <i class="fa fa-times"></i>
    </button>
  </div>

  <div class="Message Message--orange">
    <div class="Message-icon">
      <i class="fa fa-exclamation"></i>
    </div>
    <div class="Message-body">
      <p>
        You haven't authorized your LinkedIn account. Would you like some help
        with that?
      </p>
      <p class="u-italic">
        With your account connected we can show you what connections you have at
        a company that visited your site!
      </p>
      <button class="Message-button" id="js-authMe">Authorize!</button>
      <button class="Message-button js-messageClose">
        I'll just keep using carrier pigeons
      </button>
    </div>
    <button class="Message-close js-messageClose">
      <i class="fa fa-times"></i>
    </button>
  </div>
</main>
